<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- open graph -->
  <meta property="og:url"           content="http://commonsharedvalues.org" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Common Shared Values" />
  <meta property="og:description"   content="Dear fellow humans! Social Contract (in its broadest sense) is a beautiful idea. The only problem is - none of us remember agreeing to it. Today, thanks to the Internet, we can fix this!" />
  <meta property="og:image"         content="http://commonsharedvalues.org/assets/commonsharedvalues.png" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Open+Sans:800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- favicon -->
	<link rel="icon" href="/assets/favicon.png">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- bootstrap js -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> 

	<!-- add this -->
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56730075446f9bcd" async="async"></script>
  
</head>
