<!-- Welcome Modal -->
<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="welcomeModalLabel">Dear fellow humans!</h4>
      </div>
      <div class="modal-body">
        <p>"<a href="https://en.wikipedia.org/wiki/Social_contract" target="_blank">Social Contract</a>" (in its broadest sense) is a beautiful idea that has been around for centuries. In theory a social contract should prevent our society from violent chaos. In practice and on a global scale - it doesn't seem to work well. Why? Because none of us remember agreeing to it.</p>
        <p>Today, thanks to the Internet, we can fix this. We can all co-create the basic list of values that we can all (regardless of our race, gender, age or religion) voluntarily agree to keep up. And then we can try to keep them up for real - because it's us who agreed to them, not philosophers or politicians.</p>
        <p>Below is my humble first draft of such a list. If you agree - please share and subscribe. If you don't - please suggest your edits, but keep in mind that the aim is to define the "most common denominator" of practical ethics, not the fullest or the best one. In other words, we are after something almost everyone can agree to.</p>
        <p>With faith in humanity,
        <br>George Strakhov</p>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">OK, let's see</button>
      </div>
    </div>
  </div>
</div>
